.landing-gradient {
  display: flex;
  justify-content: center;
}

.testing-block {
  display: block;
}

body {
  background: linear-gradient(
    90deg,
    rgba(255, 160, 150, 0.15),
    rgba(140, 200, 190, 0.25)
  );
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
